/* Webfont: Roboto-Regular */
@font-face {
  font-family: 'RobotoR';
  src: url('../../assets/fonts/RobotoRegular/Roboto-Regular-webfont.eot');
  src: url('../../assets/fonts/RobotoRegular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/RobotoRegular/Roboto-Regular-webfont.woff') format('woff'),
  url('../../assets/fonts/RobotoRegular/Roboto-Regular-webfont.ttf') format('truetype'),
  url('../../assets/fonts/RobotoRegular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Roboto-Medium */
@font-face {
  font-family: 'RobotoM';
  src: url('../../assets/fonts/RobotoMedium/Roboto-Medium-webfont.eot');
  src: url('../../assets/fonts/RobotoMedium/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/RobotoMedium/Roboto-Medium-webfont.woff') format('woff'),
  url('../../assets/fonts/RobotoMedium/Roboto-Medium-webfont.ttf') format('truetype'),
  url('../../assets/fonts/RobotoMedium/Roboto-Medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Roboto-Bold */
@font-face {
  font-family: 'RobotoB';
  src: url('../../assets/fonts/RobotoBold/Roboto-Bold-webfont.eot');
  src: url('../../assets/fonts/RobotoBold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/RobotoBold/Roboto-Bold-webfont.woff') format('woff'),
  url('../../assets/fonts/RobotoBold/Roboto-Bold-webfont.ttf') format('truetype'),
  url('../../assets/fonts/RobotoBold/Roboto-Bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Regular */
@font-face {
  font-family: 'LatoR';
  src: url('../../assets/fonts/LatoRegular/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/LatoRegular/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/LatoRegular/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
  url('../../assets/fonts/LatoRegular/Lato-Regular.woff') format('woff'), /* Modern Browsers */
  url('../../assets/fonts/LatoRegular/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Bold */
@font-face {
  font-family: 'LatoB';
  src: url('../../assets/fonts/LatoBold/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/LatoBold/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/LatoBold/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
  url('../../assets/fonts/LatoBold/Lato-Bold.woff') format('woff'), /* Modern Browsers */
  url('../../assets/fonts/LatoBold/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}