//Font Mixins
.fontFamily(@fontFamily) {
  font-family: @fontFamily;
}

.contactInput() {
  border: 0;
  border-bottom: solid 1px @lightestGrayColor;
  .fontFamily(@RobotoR);
  padding-left: 0;
  font-size: 16px;
  .border-radius(0);
  .box-shadow(none);
  &:focus {
    border-bottom: 0;
    .box-shadow(none);
  }
}

.h1() {
  font-family: @LatoR;
  color: @whiteColor;
  font-size: 70px;
}
.h2() {
  color: @darkBlueColor;
  .fontFamily(@RobotoR);
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 40px;
}
.label() {
  .fontFamily(@RobotoR);
  color: @lightBlueColor;
  font-size: 18px;
  font-weight: normal;
}
.span() {
  display: block;
  color: @darkGrayColor;
  .fontFamily(@LatoR);
  font-size: 18px;
  line-height: 1.67;
}
.p() {
  color: @darkBlueColor;
  .fontFamily(@RobotoR);
  font-size: 20px;
  font-weight: bold;
}