//Font Variables
@LatoR: 'LatoR', sans-serif;
@LatoB: 'LatoB', sans-serif;

@RobotoR: 'RobotoR', Arial, Helvetica, sans-serif;
@RobotoM: 'RobotoM', Arial, Helvetica, sans-serif;
@RobotoB: 'RobotoB', Arial, Helvetica, sans-serif;

//Font Color
@whiteColor: #fff;
@darkWhiteColor: #e6e6e6;

@lightBlueColor: #00b3d2;
@mediumBlueColor: #007995;
@darkBlueColor: #002a54;

@lightestGrayColor: #c2c2c2;
@lightGrayColor: #4a4a4a;
@darkGrayColor: #666;
