.section {
  width: 100%;
  float: left;
  .main {
    display: block;
    margin: 0 auto;
    width: 100%;
    @media @desktop-xl {
      width: 1134px;
      max-width: 1134px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}
a {
  .fontFamily(@RobotoR);
}