footer.cd-main-content {
  background: #fff;
  padding-top: 110px;
  .col-lg-6 {
    padding-left: 96px;
    @media @mobile {
      padding-left: 15px;
    }
    @media @tablet {
      padding-left: 15px;
    }
    @media @mobile {
      padding-left: 15px;
    }
    &:last-child {
      padding-left: 187px;
      margin-top: 90px;
      @media @mobile {
        padding-left: 15px;
        margin-top: 30px;
      }
      @media @tablet {
        padding-left: 15px;
        margin-top: 30px;
      }
      @media @mobile {
        padding-left: 15px;
        margin-top: 30px;
      }
    }
  }
  .main {
    &.logotypes, &.main-footer, &.copyright {
      float: left;
      width: 100%;
      max-width: 100%;
      .box-sizing(border-box)
    }
    &.logotypes {
      margin-top: 150px;
    }
    &.copyright {
      height: 84px;
      background: @mediumBlueColor;
    }
    h2 {
      .h2();
      @media @mobile {
        padding-left: 15px;
      }
      @media @tablet {
        padding-left: 15px;
      }
      @media @mobile {
        padding-left: 15px;
      }
    }
    .form-group {
      position: relative;
      margin-bottom: 40px;
      min-height: 35px;
      &.focus {
        &:after {
          opacity: 1;
          width: 100%;
          background: @lightBlueColor;
        }
      }
      &:after {
        content: '';
        position: absolute;
        height: 1px;
        background: transparent;
        width: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }
    }
    label {
      span {
        .label();
        position: relative;
        top: 0;
        -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
        -moz-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
        -ms-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
        -o-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
        transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
      }
    }
    input {
      .contactInput();
      width: 100%;
      position: absolute;
      top: 0;
      &:focus, &.has-value {
        + label {
          > span {
            top: -20px;
            font-size: 14px;
            color: #33C1D2;
          }
        }
      }
    }
    textarea {
      border: 1px solid @lightestGrayColor;
      .border-radius(0);
      height: 168px;
      resize: none;
      width: 100%;
      .transition(border 0.7s);
      &:focus {
        .box-shadow(none);
        outline: none;
        border: 1px solid @lightBlueColor;
      }
    }
    button {
      border: 0;
      border-radius: 40px;
      background-color: @lightBlueColor;
      height: 60px;
      text-align: center;
      text-transform: uppercase;
      width: 268px;
      .fontFamily(@RobotoR);
      font-weight: bold;
      .transition(box-shadow 0.3s);
      .box-shadow(none);
      &:hover {
        background-color: @lightBlueColor;
        .box-shadow(inset 0px 5px 15px 0px rgba(0,0,0,0.5));
      }
    }
    .logotype {
      display: block;
      margin-bottom: 32px;
    }
    .contact-information {
      display: block;
      p {
        .p();
        &.regular-weight {
          font-weight: normal;
          line-height: normal;
          margin-top: 36px;
          margin-bottom: 16px;
        }
      }
      span {
        .span();
      }
    }
  }
  .logotypes {
    background: url(../../assets/images/footer-brands-bg.png) 0 0 no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    float: left;
    height: 243px;
    padding: 0 116px;
    a {
      display: inline-block;
      margin-right: 112px;
      margin-top:73px;
      width: 140px;
      &:last-child {
        margin-right: 0;
        width: 106px;;
      }
    }
  }
  .main-footer {
    padding-top: 90px;
    background-color: #dbdfe3;
    .col-lg-5, .col-lg-7, .col-lg-6 {
      padding: 0;
    }
    .footer-logo {
      display: block;
      margin-bottom: 40px;
      width: 231px;
    }
    .address, .working-time {
      display: block;
      width: 100%;
      span, a {
        .p();
        display: block;
        width: 100%;
        &.gray {
          font-size:14px;
          color: @lightGrayColor;
          .fontFamily(@LatoR);
          opacity: 0.8;
          font-weight: 200;
        }
      }
    }
    .working-time {
      margin-top: 20px;
    }
    .left {
      .social-icons {
        margin: 20px 0 60px 0;
        float: left;
        width: 100%;

        li {
          display: inline-block;
          width: 45px;
          height: 45px;
          margin-right: 18px;
        }
        a {
          width: 100%;
          height: 100%;
          display: block;
          //border: solid 1px @darkGrayColor;
          //.border-radius(50%);
          &.facebook {
            background: url(../../assets/images/icons/facebook.svg) 0 0 no-repeat;
            background-size: 100%;
          }
          &.twitter {
            background: url(../../assets/images/icons/twitter.svg) 0 0 no-repeat;
            background-size: 100%;
          }
          &.instagram {
            background: url(../../assets/images/icons/instagram.svg) 0 0 no-repeat;
            background-size: 100%;
          }
        }
      }
    }
    .right {
      .list, .image {
        min-height: 187px;
      }
      .image {
        margin-top: 0;
      }
      h4 {
        .p();
        text-transform: uppercase;
      }
      ul {
        a {
          font-size:14px;
          color: @lightGrayColor;
          .fontFamily(@LatoR);
          opacity: 0.8;
          font-weight: 200;
          line-height: 24px;
        }
      }
    }
  }
  .copyright {
    ul {
      float: left;
      list-style: none;
      li {
        display: inline-block;
        line-height: 84px;
        margin-right: 65px;
        text-transform: uppercase;
        a {
          .fontFamily(@LatoR);
          color: @darkWhiteColor;
          font-size: 12px;
        }
      }
    }
    span {
      color: @darkWhiteColor;
      float: right;
      .fontFamily(@LatoB);
      font-size: 12px;
      line-height: 84px;
    }
  }
  .telephone {
    display: block;
    width: 100%;
    margin-top: 40px;
    p {
      float: left;
      width: 100%;
      span {
        display: block;
        .fontFamily(@RobotoR);
        font-size: 18px;
        font-weight: bold;
        line-height: 1.67;
        color: @darkBlueColor;
        float: left;
        position: relative;
        &:after {
          content: '';
          width: 77px;
          height: 1px;
          background: @lightGrayColor;
          position: absolute;
          top: 50%;
          margin-top: -0.5px;
          left: 28px;
        }
      }
      a {
        .p();
        margin-left: 119px;
        width: 130px;
        display: block;
      }
    }
  }

}