.page-header, .page-header-sticky {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  border: 0;
  height: 185px;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  margin-top: 0px;
  -webkit-transition: transform 250ms, -webkit-transform 250ms;
  -moz-transition: transform 250ms, -webkit-transform 250ms;
  -ms-transition: transform 250ms, -webkit-transform 250ms;
  -o-transition: transform 250ms, -webkit-transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  &.cd-main-header {
  }
  .header-top-section {
    display: block;
    text-align: right;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 45px;
    padding: 20px 0 0 0;
    @media @desktop {
      height: 65px;
      text-align: center;
    }
    @media @tablet {
      height: 65px;
      text-align: center;
    }
    @media @mobile {
      height: 65px;
      text-align: center;
    }
    span, a {
      width: 290px;
      font-family: @LatoR;
      font-size: 12px;
      line-height: 2.08;
      color: @darkWhiteColor;
    }
    a {
      color: @whiteColor;
    }
    .language-flags {
      float: right;
      display: inline-block;
      margin-left: 62px;
      @media @desktop {
        float: none;
        margin-left: 15px;
      }
      @media @tablet {
        float: none;
        margin-left: 15px;
      }
      @media @mobile {
        float: none;
        margin-left: 15px;
      }
      .clearfix();
      li {
        height: 14.2px;
        float: left;
        width: 21.7px;
        img {
          height: 100%;
          width: 100%;
        }
        &:last-child {
          margin-left: 18.3px;
        }
      }
    }
  }
  .header-bottom-section {
    height: 140px;
    display: block;
    .main {
      position: relative;
    }
    .logo-section {
      a {
        float: left;
        height: 80px;
        margin-top: 2px;
        width: 230px;
        background: url(../../assets/images/logo.png) 0 0 no-repeat;
        background-size: 100%;
        @media @desktop {
          display: block;
          height: 80px;
          float: none;
          margin: -5px auto 0;
          width: 40%;
          max-width: 210px;
        }
        @media @tablet {
          display: block;
          height: 80px;
          float: none;
          margin: -5px auto 0;
          width: 40%;
          max-width: 210px;
        }
        @media @mobile {
          display: block;
          height: 80px;
          float: none;
          margin: 10px auto 0;
          width: 40%;
          max-width: 210px;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    nav {
      float: right;
      margin: 5px 0 0 0;
      ul {
        &.cd-secondary-nav {
          li {
            a {
              color: @darkGrayColor;
              text-shadow: none;
              .transition(all);
              .transition-duration(250ms);
              &:hover {
                color: @lightBlueColor;
              }
            }
          }
        }
        li {
          margin-left: 0;
          &:first-child {
            margin-left: 0;
          }
          a {
            .fontFamily(@LatoR);
            font-size: 16px;
            color: @whiteColor;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
            .transition(color);
            .transition-duration(250ms);
          }
        }
      }
    }
  }
  .header-search-wrapper {
    cursor: pointer;
    position: absolute;
    right: -80px;
    top: 55px;
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    .transition(width);
    .transition-duration(0.5s);
    z-index: 10;
    @media @desktop {
      right: 5%;
      top: 78px;
      width: 40px;
      height: 40px;
    }
    @media @tablet {
      right: 5%;
      top: 78px;
      width: 40px;
      height: 40px;
    }
    @media @mobile {
      right: 5%;
      top: 78px;
      width: 40px;
      height: 40px;
    }
    &.active {
      width: 600px;
      z-index: 10;
      @media @desktop {
        width: 90%;
      }
      @media @tablet {
        width: 90%;
      }
      @media @mobile {
        width: 90%;
      }
      input[type="text"] {
        opacity: 1;
        width: 520px;
        @media @desktop {
          opacity: 1;
          width: 83%;
          margin-top: -30px;
          background: 0 0;
          font-size: 14px;
          padding-bottom: 4px;
        }
        @media @tablet {
          opacity: 1;
          width: 83%;
          margin-top: -30px;
          background: 0 0;
          font-size: 14px;
          padding-bottom: 4px;
        }
        @media @mobile {
          opacity: 1;
          width: 83%;
          margin-top: -30px;
          background: 0 0;
          font-size: 14px;
          padding-bottom: 4px;
        }

      }
    }
    input[type="text"] {
      opacity: 0;
      float: right;
      width: 0px;
      margin-right: 31px;
      margin-top: -20px;
      padding-left: 6px;
      font-size: 20px;
      outline: 0;
      padding-bottom: 7px;
      border: 0;
      border-bottom: 0.5px solid #4a4a4a;
      .transition(width);
      .transition-duration(0.5s);
    }
    button {
      display: block;
      width: 16px;
      height: 16px;
      position: relative;
      margin: 27px 0 0 27px;
      background: rgba(0,0,0,0);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border: 0;
      &:after {
        @media @desktop {
          width: 14px !important;
          height: 14px !important;
        }
        @media @tablet {
          width: 14px !important;
          height: 14px !important;
        }
        @media @mobile {
          width: 14px !important;
          height: 14px !important;
        }
      }
      @media @desktop {
        width: 14px;
        height: 14px;
        margin: 13px;
      }
      @media @tablet {
        width: 14px;
        height: 14px;
        margin: 13px;
      }
      @media @mobile {
        width: 14px;
        height: 14px;
        margin: 13px;
      }
      &:after {
        content: '';
        background: url(../../assets/images/icons/search.png) 0 0 no-repeat;
        -webkit-background-size: 100% 100%;
        width: 16px;
        height: 16px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
.nav-is-fixed .cd-main-header.page-header-sticky {
  background: #ffffff;
  height: 91px;
  position: fixed;
}
.page-header-sticky {
  -webkit-transform: translateY(-130px);
  -moz-transform: translateY(-130px);
  -ms-transform: translateY(-130px);
  -o-transform: translateY(-130px);
  transform: translateY(-130px);
  .header-top-section {
    display: none;
  }
  .header-bottom-section {
    .main {
      max-width: 100%;
      width: 100%;
    }
    nav {
      ul {
        li {
          a {
            color: @darkGrayColor;
            text-shadow: none;
            &:after, &:before {
              background: @darkGrayColor;
            }
          }
        }
      }
    }
    .logo-section {
      a {
        background: url(../../assets/images/logo-sticky.png) 0 0 no-repeat;
        background-size: 100%;
        height: 80px;
        margin-top: 10px;
      }
      @media @desktop {
        height: 57px;
      }
      @media @tablet {
        height: 57px;
      }
      @media @mobile {
        height: 57px;
      }
    }
  }
  .cd-primary-nav {
    padding-right: 116px !important;
  }
  .header-search-wrapper {
    right: 2% !important;
  }
}
//Sticky header
.navbar-fixed-top {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  .box-shadow( 0 0 14px 0 rgba(0,0,0,.1));
  &.nav-is-visible {
    -webkit-transform: translate3d(260px, 0, 0);
    -moz-transform: translate3d(260px, 0, 0);
    -ms-transform: translate3d(260px, 0, 0);
    -o-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0);
  }
}
.nav-on-left {
  .navbar-fixed-top {
        .cd-nav-trigger {
          span {
            background: rgba(0, 0, 0, 0.7);
            &:after, &:before {
              background: rgba(0, 0, 0, 0.7);
            }
          }
          &.nav-is-visible {
            span {
              background: rgba(0, 0, 0, 0);
              &:after, &:before {
                background: rgba(0, 0, 0, 0.7);
              }
            }
          }
        }
      .cd-header-buttons {
        @media @tablet {
          top: 25px;
        }
        @media @mobile {
          top: 25px;
        }
        @media @desktop {
          top: 25px;
        }
      }
      .header-search-wrapper {
        cursor: pointer;
        position: absolute;
        right: -80px;
        top: 55px;
        width: 70px;
        height: 70px;
        background-color: #ffffff;
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        .transition(width);
        .transition-duration(0.5s);
        @media @mobile {
          right: 5%;
          top: 78px;
          width: 40px;
          height: 40px;
        }
        &.active {
          width: 600px;
          @media @mobile {
            width: 90%;
          }
          @media @tablet {
            width: 90%;
          }
          @media @desktop {
            width: 90%;
          }
          input[type="text"] {
            opacity: 1;
            width: 520px;
            @media @mobile {
              opacity: 1;
              width: 83%;
              margin-top: -5px;
              background: 0 0;
              font-size: 14px;
              padding-bottom: 4px;
            }
            @media @tablet {
              opacity: 1;
              width: 83%;
              margin-top: -5px;
              background: 0 0;
              font-size: 14px;
              padding-bottom: 4px;
            }
            @media @desktop {
              opacity: 1;
              width: 83%;
              margin-top: -5px;
              background: 0 0;
              font-size: 14px;
              padding-bottom: 4px;
            }
          }
        }
        input[type="text"] {
          opacity: 0;
          float: right;
          width: 0px;
          margin-right: 31px;
          margin-top: -20px;
          padding-left: 6px;
          font-size: 20px;
          outline: 0;
          padding-bottom: 7px;
          border: 0;
          border-bottom: 0.5px solid #4a4a4a;
          .transition(width);
          .transition-duration(0.5s);
          @media @desktop {
            float: left;
            margin-left: 10%;
          }
          @media @tablet {
            float: left;
            margin-left: 10%;
          }
          @media @mobile {
            float: left;
            margin-left: 10%;
            margin-top: -320px !important;
          }
        }
        button {
          display: block;
          width: 16px;
          height: 16px;
          position: relative;
          margin: 27px 0 0 27px;
          background: rgba(0,0,0,0);
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          border: 0;
          &:after {
            content: '';
            background: url(../../assets/images/icons/search.png) 0 0 no-repeat;
            -webkit-background-size: 100% 100%;
            width: 16px;
            height: 16px;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
          }
          @media @mobile {
            margin: 14px 0 0 14px;
          }
        }
      }
    }
}
