article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: none;
}
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img,
.google-maps img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
  outline: none;
}
button,
input {
  *overflow: visible;
  line-height: normal;
  font-family: 'LatoR', sans-serif;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
  outline: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
ul,
menu,
dir {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.placeholder {
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.placeholder img {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s linear;
}
.placeholder img.loaded {
  opacity: 1;
}
.img-small {
  filter: blur(50px);
  transform: scale(1);
  display: none;
}
.placeholder-padding {
  padding-bottom: 66.6%;
}
img.img-small.loaded {
  display: block;
}
/* Webfont: Roboto-Regular */
@font-face {
  font-family: 'RobotoR';
  src: url('../../assets/fonts/RobotoRegular/Roboto-Regular-webfont.eot');
  src: url('../../assets/fonts/RobotoRegular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/RobotoRegular/Roboto-Regular-webfont.woff') format('woff'), url('../../assets/fonts/RobotoRegular/Roboto-Regular-webfont.ttf') format('truetype'), url('../../assets/fonts/RobotoRegular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Roboto-Medium */
@font-face {
  font-family: 'RobotoM';
  src: url('../../assets/fonts/RobotoMedium/Roboto-Medium-webfont.eot');
  src: url('../../assets/fonts/RobotoMedium/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/RobotoMedium/Roboto-Medium-webfont.woff') format('woff'), url('../../assets/fonts/RobotoMedium/Roboto-Medium-webfont.ttf') format('truetype'), url('../../assets/fonts/RobotoMedium/Roboto-Medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Roboto-Bold */
@font-face {
  font-family: 'RobotoB';
  src: url('../../assets/fonts/RobotoBold/Roboto-Bold-webfont.eot');
  src: url('../../assets/fonts/RobotoBold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/RobotoBold/Roboto-Bold-webfont.woff') format('woff'), url('../../assets/fonts/RobotoBold/Roboto-Bold-webfont.ttf') format('truetype'), url('../../assets/fonts/RobotoBold/Roboto-Bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Regular */
@font-face {
  font-family: 'LatoR';
  src: url('../../assets/fonts/LatoRegular/Lato-Regular.eot');
  src: url('../../assets/fonts/LatoRegular/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../assets/fonts/LatoRegular/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */ url('../../assets/fonts/LatoRegular/Lato-Regular.woff') format('woff'), /* Modern Browsers */ url('../../assets/fonts/LatoRegular/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
/* Webfont: Lato-Bold */
@font-face {
  font-family: 'LatoB';
  src: url('../../assets/fonts/LatoBold/Lato-Bold.eot');
  src: url('../../assets/fonts/LatoBold/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../assets/fonts/LatoBold/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */ url('../../assets/fonts/LatoBold/Lato-Bold.woff') format('woff'), /* Modern Browsers */ url('../../assets/fonts/LatoBold/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
/* --------------------------------

Main components

-------------------------------- */
.cd-main-content,
.cd-main-header {
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
.cd-main-content,
.cd-main-header {
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
@media only screen and (max-width: 1134px) {
  .cd-main-content.nav-is-visible,
  .page-header.nav-is-visible {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
  }
  .nav-on-left .cd-main-content.nav-is-visible,
  .nav-on-left .page-header.nav-is-visible {
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
  }
}
.cd-main-content {
  background: #e2e3df;
  min-height: 100vh;
  z-index: 2;
}
.cd-main-header {
  z-index: 3;
}
.nav-is-fixed .cd-main-header {
  /* add .nav-is-fixed class to body if you want a fixed navigation on > 1170px */
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
@media only screen and (min-width: 1135px) {
  .cd-main-header {
    height: 80px;
  }
  .cd-main-header::after {
    clear: both;
    content: "";
    display: table;
  }
}
@media only screen and (max-width: 1134px) {
  .nav-on-left .cd-logo {
    left: auto;
    right: 5%;
  }
}
@media only screen and (min-width: 1135px) {
  .cd-logo {
    top: 26px;
    left: 4em;
  }
}
.cd-header-buttons {
  position: absolute;
  display: inline-block;
  top: 78px;
  right: 5%;
}
.cd-header-buttons li {
  display: inline-block;
}
@media only screen and (max-width: 1134px) {
  .nav-on-left .cd-header-buttons {
    right: auto;
    left: 5%;
  }
  .nav-on-left .cd-header-buttons li {
    float: right;
  }
}
@media only screen and (min-width: 1135px) {
  .cd-header-buttons {
    top: 18px;
    right: 4em;
  }
}
.cd-secondary-nav .go-back,
.cd-secondary-nav .see-all {
  display: none;
}
@media only screen and (max-width: 529px) {
  .cd-secondary-nav .go-back,
  .cd-secondary-nav .see-all {
    display: block;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .cd-secondary-nav .go-back,
  .cd-secondary-nav .see-all {
    display: block;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1134px) {
  .cd-secondary-nav .go-back,
  .cd-secondary-nav .see-all {
    display: block;
  }
}
.cd-search-trigger,
.cd-nav-trigger {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  overflow: hidden;
  white-space: nowrap;
  /* hide text */
  color: transparent;
  z-index: 3;
}
.cd-search-trigger::before,
.cd-search-trigger::after {
  /* search icon */
  content: '';
  position: absolute;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-search-trigger::before {
  /* lens */
  top: 11px;
  left: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid #2e3233;
}
.cd-search-trigger::after {
  /* handle */
  height: 3px;
  width: 8px;
  background: #2e3233;
  bottom: 14px;
  right: 11px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-search-trigger span {
  /* container for the X icon */
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.cd-search-trigger span::before,
.cd-search-trigger span::after {
  /* close icon */
  content: '';
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 22px;
  top: 50%;
  margin-top: -2px;
  left: 50%;
  margin-left: -11px;
  background: #2e3233;
  opacity: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.cd-search-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-search-trigger span::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cd-search-trigger.search-is-visible::before,
.cd-search-trigger.search-is-visible::after {
  /* hide search icon */
  opacity: 0;
}
.cd-search-trigger.search-is-visible span::before,
.cd-search-trigger.search-is-visible span::after {
  /* show close icon */
  opacity: 1;
}
.cd-search-trigger.search-is-visible span::before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cd-search-trigger.search-is-visible span::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-nav-trigger span,
.cd-nav-trigger span::before,
.cd-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: rgba(255, 255, 255, 0.7);
}
.cd-nav-trigger span:hover,
.cd-nav-trigger span::before:hover,
.cd-nav-trigger span::after:hover {
  background: #ffffff;
}
.cd-nav-trigger span {
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -2px;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}
.cd-nav-trigger span::before,
.cd-nav-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  -moz-transition: -moz-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}
.cd-nav-trigger span::before {
  /* menu icon top line */
  top: -6px;
}
.cd-nav-trigger span::after {
  /* menu icon bottom line */
  top: 6px;
}
.cd-nav-trigger.nav-is-visible span {
  /* hide line in the center */
  background: rgba(46, 50, 51, 0);
}
.cd-nav-trigger.nav-is-visible span::before,
.cd-nav-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: rgba(255, 255, 255, 0.7);
}
.cd-nav-trigger.nav-is-visible span::before:hover,
.cd-nav-trigger.nav-is-visible span::after:hover {
  background: #ffffff;
}
.cd-nav-trigger.nav-is-visible span::before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}
.cd-nav-trigger.nav-is-visible span::after {
  -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
  transform: translateX(4px) translateY(2px) rotate(-45deg);
}
@media only screen and (min-width: 1135px) {
  .cd-nav-trigger {
    display: none;
  }
}
@media only screen and (max-width: 529px) {
  .cd-primary-nav {
    padding-right: 0 !important;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .cd-primary-nav {
    padding-right: 0 !important;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1134px) {
  .cd-primary-nav {
    padding-right: 0 !important;
  }
}
.cd-primary-nav,
.cd-primary-nav ul {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 260px;
  background: #2e3233;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-primary-nav a,
.cd-primary-nav ul a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid #3a3f40;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform, opacity;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
.cd-primary-nav.is-hidden,
.cd-primary-nav ul.is-hidden {
  /* secondary navigations hidden by default */
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.cd-primary-nav.moves-out > li > a,
.cd-primary-nav ul.moves-out > li > a {
  /* push the navigation items to the left - and lower down opacity - when secondary nav slides in */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}
@media only screen and (max-width: 1134px) {
  .nav-on-left .cd-primary-nav,
  .nav-on-left .cd-primary-nav ul {
    right: auto;
    left: 0;
  }
}
.cd-primary-nav .see-all a {
  /* different style for the See all button on mobile and tablet */
  color: #69aa6f;
}
.cd-primary-nav .cd-nav-gallery .cd-nav-item,
.cd-primary-nav .cd-nav-icons .cd-nav-item {
  /* items with picture (or icon) and title */
  height: 80px;
  line-height: 80px;
}
.cd-primary-nav .cd-nav-gallery .cd-nav-item h3,
.cd-primary-nav .cd-nav-icons .cd-nav-item h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.cd-primary-nav .cd-nav-gallery .cd-nav-item {
  padding-left: 90px;
}
.cd-primary-nav .cd-nav-gallery .cd-nav-item img {
  position: absolute;
  display: block;
  height: 40px;
  width: auto;
  left: 20px;
  top: 50%;
  margin-top: -20px;
}
.cd-primary-nav .cd-nav-icons .cd-nav-item {
  padding-left: 75px;
}
.cd-primary-nav .cd-nav-icons .cd-nav-item p {
  color: #2e3233;
  font-size: 1.3rem;
  /* hide description on small devices */
  display: none;
}
.cd-primary-nav .cd-nav-icons .cd-nav-item::before {
  /* item icon */
  content: '';
  display: block;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-1::before {
  background-image: url("../img/line-icon-1.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-2::before {
  background-image: url("../img/line-icon-2.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-3::before {
  background-image: url("../img/line-icon-3.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-4::before {
  background-image: url("../img/line-icon-4.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-5::before {
  background-image: url("../img/line-icon-5.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-6::before {
  background-image: url("../img/line-icon-6.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-7::before {
  background-image: url("../img/line-icon-7.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-8::before {
  background-image: url("../img/line-icon-8.svg");
}
@media only screen and (max-width: 1134px) {
  .cd-primary-nav {
    /* by default .cd-primary-nav is hidden - trick for iOS devices where you can see the navigation if you pull down */
    visibility: hidden;
    -webkit-transition: visibility 0s 0.3s;
    -moz-transition: visibility 0s 0.3s;
    transition: visibility 0s 0.3s;
  }
  .cd-primary-nav.nav-is-visible {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
  }
}
@media only screen and (min-width: 1135px) {
  .cd-primary-nav {
    position: static;
    padding: 0;
    height: auto;
    width: auto;
    float: right;
    overflow: visible;
    background: transparent;
  }
  .cd-primary-nav::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-primary-nav.moves-out > li > a {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .cd-primary-nav ul {
    position: static;
    height: auto;
    width: auto;
    background: transparent;
    overflow: visible;
    z-index: 3;
  }
  .cd-primary-nav ul.is-hidden {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-primary-nav ul.moves-out > li > a {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .cd-primary-nav > li {
    float: left;
    margin-left: 3em;
  }
  .cd-primary-nav > li > a {
    /* main navigation buttons style */
    position: relative;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    padding: 0 10px;
    color: #2e3233;
    overflow: visible;
    border-bottom: none;
    -webkit-transition: color 0.3s, box-shadow 0.3s;
    -moz-transition: color 0.3s, box-shadow 0.3s;
    transition: color 0.3s, box-shadow 0.3s;
  }
  .cd-primary-nav > li > a:hover {
    color: #00b3d2;
  }
  .cd-primary-nav > li > a.selected {
    color: #00b3d2;
    box-shadow: inset 0 -2px 0 #00b3d2;
  }
  .cd-primary-nav .go-back,
  .cd-primary-nav .see-all {
    display: none;
  }
  .cd-primary-nav .cd-secondary-nav,
  .cd-primary-nav .cd-nav-gallery,
  .cd-primary-nav .cd-nav-icons {
    /* dropdown menu style */
    position: absolute;
    top: 135px;
    width: 100vw;
    background: #ffffff;
    padding: 48px 64px 130px;
    box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
  .cd-primary-nav .cd-secondary-nav::after,
  .cd-primary-nav .cd-nav-gallery::after,
  .cd-primary-nav .cd-nav-icons::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-primary-nav .cd-secondary-nav.is-hidden,
  .cd-primary-nav .cd-nav-gallery.is-hidden,
  .cd-primary-nav .cd-nav-icons.is-hidden {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
  }
  .cd-primary-nav .cd-secondary-nav > .see-all,
  .cd-primary-nav .cd-nav-gallery > .see-all,
  .cd-primary-nav .cd-nav-icons > .see-all {
    /* this is the BIG See all button at the bottom of the dropdown menu */
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    overflow: hidden;
    /* reset some inherited style */
    margin: 0;
    padding: 0;
  }
  .cd-primary-nav .cd-secondary-nav > .see-all a,
  .cd-primary-nav .cd-nav-gallery > .see-all a,
  .cd-primary-nav .cd-nav-icons > .see-all a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    border-top: 1px solid #e2e3df;
    /* reset some inherited style */
    border-bottom: none;
    margin: 0;
    padding: 0;
    -webkit-transition: color 0.2s, background 0.2s, border 0.2s;
    -moz-transition: color 0.2s, background 0.2s, border 0.2s;
    transition: color 0.2s, background 0.2s, border 0.2s;
  }
  .cd-primary-nav .cd-secondary-nav > .see-all a:hover,
  .cd-primary-nav .cd-nav-gallery > .see-all a:hover,
  .cd-primary-nav .cd-nav-icons > .see-all a:hover {
    background: #2e3233;
    border-color: #2e3233;
    color: #ffffff;
  }
  .cd-primary-nav .cd-secondary-nav > li {
    /* change the height according to your needs - you can even set height: auto */
    height: 340px;
    /* here you set the number of columns - use width percentage */
    width: 23%;
    float: left;
    margin-right: 2.66%;
    border-right: 1px solid #e2e3df;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .cd-primary-nav .cd-secondary-nav > li:nth-child(4n+2) {
    /* +2 because we have 2 list items with display:none */
    margin-right: 0;
    border-right: none;
  }
  .cd-primary-nav .cd-secondary-nav > li > a {
    /* secondary nav title */
    color: #00b3d2;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: .6em;
  }
  .cd-primary-nav .cd-secondary-nav a {
    height: 30px;
    line-height: 30px;
    padding: 0 18% 0 0;
    color: #2e3233;
    border-bottom: none;
    font-size: 1.4rem;
  }
  .cd-primary-nav .cd-secondary-nav a:hover {
    color: #00b3d2;
  }
  .cd-primary-nav .cd-secondary-nav ul {
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  .cd-primary-nav .cd-secondary-nav ul ul {
    /* tertiary navigation */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .cd-primary-nav .cd-secondary-nav ul ul.is-hidden {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  .cd-primary-nav .cd-secondary-nav ul ul .go-back {
    display: block;
  }
  .cd-primary-nav .cd-secondary-nav ul ul .go-back a {
    color: transparent;
  }
  .cd-primary-nav .cd-secondary-nav ul ul .see-all {
    display: block;
  }
  .cd-primary-nav .cd-secondary-nav .moves-out > li > a {
    /* push the navigation items to the left - and lower down opacity - when tertiary nav slides in */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .cd-primary-nav .cd-nav-gallery li {
    /* set here number of columns - use width percentage */
    width: 22%;
    float: left;
    margin: 0 4% 40px 0;
  }
  .cd-primary-nav .cd-nav-gallery li:nth-child(4n+2) {
    /* +2 because we have two additional list items with display:none */
    margin-right: 0;
  }
  .cd-primary-nav .cd-nav-gallery .cd-nav-item {
    border-bottom: none;
    padding: 0;
    height: auto;
    line-height: 1.2;
  }
  .cd-primary-nav .cd-nav-gallery .cd-nav-item img {
    position: static;
    margin-top: 0;
    height: auto;
    width: 100%;
    margin-bottom: .6em;
  }
  .cd-primary-nav .cd-nav-gallery .cd-nav-item h3 {
    color: #69aa6f;
    font-weight: bold;
    padding: 0 .4em;
  }
  .cd-primary-nav .cd-nav-icons li {
    /* set here number of columns - use width percentage */
    width: 32%;
    float: left;
    margin: 0 2% 20px 0;
  }
  .cd-primary-nav .cd-nav-icons li:nth-child(3n+2) {
    /* +2 because we have two additional list items with display:none */
    margin-right: 0;
  }
  .cd-primary-nav .cd-nav-icons .cd-nav-item {
    border-bottom: none;
    height: 80px;
    line-height: 1.2;
    padding: 24px 0 0 85px;
    position: relative;
  }
  .cd-primary-nav .cd-nav-icons .cd-nav-item:hover {
    background: #f6f6f5;
  }
  .cd-primary-nav .cd-nav-icons .cd-nav-item h3 {
    color: #69aa6f;
    font-weight: bold;
  }
  .cd-primary-nav .cd-nav-icons .cd-nav-item p {
    display: block;
  }
  .cd-primary-nav .cd-nav-icons .cd-nav-item::before {
    left: 25px;
  }
}
.has-children > a,
.go-back a {
  position: relative;
}
.has-children > a::before,
.has-children > a::after,
.go-back a::before,
.go-back a::after {
  /* arrow icon in CSS - for element with nested unordered lists */
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: inline-block;
  height: 2px;
  width: 10px;
  background: #464c4e;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.has-children > a::before,
.go-back a::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.has-children > a::after,
.go-back a::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media only screen and (min-width: 1135px) {
  .has-children > a::before,
  .has-children > a::after,
  .go-back a::before,
  .go-back a::after {
    background: #c9cbc4;
  }
  .has-children > a:hover::before,
  .has-children > a:hover::after,
  .go-back a:hover::before,
  .go-back a:hover::after {
    background: #00b3d2;
  }
}
.has-children > a {
  padding-right: 40px;
}
.has-children > a::before,
.has-children > a::after {
  /* arrow goes on the right side - children navigation */
  right: 20px;
  -webkit-transform-origin: 9px 50%;
  -moz-transform-origin: 9px 50%;
  -ms-transform-origin: 9px 50%;
  -o-transform-origin: 9px 50%;
  transform-origin: 9px 50%;
}
.cd-primary-nav .go-back a {
  padding-left: 40px;
}
.cd-primary-nav .go-back a::before,
.cd-primary-nav .go-back a::after {
  /* arrow goes on the left side - go back button */
  left: 20px;
  -webkit-transform-origin: 1px 50%;
  -moz-transform-origin: 1px 50%;
  -ms-transform-origin: 1px 50%;
  -o-transform-origin: 1px 50%;
  transform-origin: 1px 50%;
}
@media only screen and (min-width: 1135px) {
  .has-children > a::before,
  .has-children > a::after {
    right: 15%;
  }
  .cd-primary-nav > .has-children > a {
    /* main navigation arrows on larger devices */
    padding-right: 30px !important;
  }
  .cd-primary-nav > .has-children > a::before,
  .cd-primary-nav > .has-children > a::after {
    width: 9px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: width 0.3s, -webkit-transform 0.3s;
    -moz-transition: width 0.3s, -moz-transform 0.3s;
    transition: width 0.3s, transform 0.3s;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  }
  .cd-primary-nav > .has-children > a::before {
    right: 12px;
  }
  .cd-primary-nav > .has-children > a::after {
    right: 7px;
  }
  .cd-primary-nav > .has-children > a.selected::before,
  .cd-primary-nav > .has-children > a.selected::after {
    width: 14px;
  }
  .cd-primary-nav > .has-children > a.selected::before {
    -webkit-transform: translateX(5px) rotate(-45deg);
    -moz-transform: translateX(5px) rotate(-45deg);
    -ms-transform: translateX(5px) rotate(-45deg);
    -o-transform: translateX(5px) rotate(-45deg);
    transform: translateX(5px) rotate(-45deg);
  }
  .cd-primary-nav > .has-children > a.selected::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .cd-secondary-nav > .has-children > a::before,
  .cd-secondary-nav > .has-children > a::after {
    /* remove arrows on secondary nav titles */
    display: none;
  }
  .cd-primary-nav .go-back a {
    padding-left: 20px;
  }
  .cd-primary-nav .go-back a::before,
  .cd-primary-nav .go-back a::after {
    left: 1px;
  }
}
.cd-search {
  position: absolute;
  height: 50px;
  width: 100%;
  top: 50px;
  left: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-search form {
  height: 100%;
  width: 100%;
}
.cd-search input {
  border-radius: 0;
  border: none;
  background: #ffffff;
  height: 100%;
  width: 100%;
  padding: 0 5%;
  box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.cd-search input::-webkit-input-placeholder {
  color: #c9cbc4;
}
.cd-search input::-moz-placeholder {
  color: #c9cbc4;
}
.cd-search input:-moz-placeholder {
  color: #c9cbc4;
}
.cd-search input:-ms-input-placeholder {
  color: #c9cbc4;
}
.cd-search input:focus {
  outline: none;
}
.cd-search.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
@media only screen and (min-width: 1135px) {
  .cd-search {
    height: 120px;
    top: 80px;
  }
  .cd-search input {
    padding: 0 2em;
    font-size: 3.2rem;
    font-weight: 300;
  }
}
.cd-overlay {
  /* shadow layer visible when navigation is active */
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  background: #00b3d2;
  visibility: hidden;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
}
.cd-overlay.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s;
}
@media only screen and (max-width: 1134px) {
  .cd-overlay.is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .nav-on-left .cd-overlay.is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-overlay.is-visible.search-is-visible,
  .nav-on-left .cd-overlay.is-visible.search-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
/* --------------------------------

support for no js

-------------------------------- */
.no-js .cd-primary-nav {
  position: relative;
  height: auto;
  width: 100%;
  overflow: visible;
  visibility: visible;
  z-index: 2;
}
.no-js .cd-search {
  position: relative;
  top: 0;
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 1135px) {
  .no-js .cd-primary-nav {
    position: absolute;
    z-index: 3;
    display: inline-block;
    width: auto;
    top: 0;
    right: 150px;
    padding: 0;
  }
  .no-js .nav-is-fixed .cd-primary-nav {
    position: fixed;
  }
}
.overflow-hidden {
  overflow: hidden;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.section {
  width: 100%;
  float: left;
}
.section .main {
  display: block;
  margin: 0 auto;
  width: 100%;
}
@media only screen and (min-width: 1134px) {
  .section .main {
    width: 1134px;
    max-width: 1134px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
a {
  font-family: 'RobotoR', Arial, Helvetica, sans-serif;
}
.page-header,
.page-header-sticky {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  border: 0;
  height: 185px;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  margin-top: 0px;
  -webkit-transition: transform 250ms, -webkit-transform 250ms;
  -moz-transition: transform 250ms, -webkit-transform 250ms;
  -ms-transition: transform 250ms, -webkit-transform 250ms;
  -o-transition: transform 250ms, -webkit-transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}
.page-header .header-top-section,
.page-header-sticky .header-top-section {
  display: block;
  text-align: right;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 45px;
  padding: 20px 0 0 0;
}
@media only screen and (min-width: 950px) and (max-width: 1134px) {
  .page-header .header-top-section,
  .page-header-sticky .header-top-section {
    height: 65px;
    text-align: center;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .page-header .header-top-section,
  .page-header-sticky .header-top-section {
    height: 65px;
    text-align: center;
  }
}
@media only screen and (max-width: 529px) {
  .page-header .header-top-section,
  .page-header-sticky .header-top-section {
    height: 65px;
    text-align: center;
  }
}
.page-header .header-top-section span,
.page-header-sticky .header-top-section span,
.page-header .header-top-section a,
.page-header-sticky .header-top-section a {
  width: 290px;
  font-family: 'LatoR', sans-serif;
  font-size: 12px;
  line-height: 2.08;
  color: #e6e6e6;
}
.page-header .header-top-section a,
.page-header-sticky .header-top-section a {
  color: #ffffff;
}
.page-header .header-top-section .language-flags,
.page-header-sticky .header-top-section .language-flags {
  float: right;
  display: inline-block;
  margin-left: 62px;
  *zoom: 1;
}
@media only screen and (min-width: 950px) and (max-width: 1134px) {
  .page-header .header-top-section .language-flags,
  .page-header-sticky .header-top-section .language-flags {
    float: none;
    margin-left: 15px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .page-header .header-top-section .language-flags,
  .page-header-sticky .header-top-section .language-flags {
    float: none;
    margin-left: 15px;
  }
}
@media only screen and (max-width: 529px) {
  .page-header .header-top-section .language-flags,
  .page-header-sticky .header-top-section .language-flags {
    float: none;
    margin-left: 15px;
  }
}
.page-header .header-top-section .language-flags:before,
.page-header-sticky .header-top-section .language-flags:before,
.page-header .header-top-section .language-flags:after,
.page-header-sticky .header-top-section .language-flags:after {
  display: table;
  content: "";
  line-height: 0;
}
.page-header .header-top-section .language-flags:after,
.page-header-sticky .header-top-section .language-flags:after {
  clear: both;
}
.page-header .header-top-section .language-flags li,
.page-header-sticky .header-top-section .language-flags li {
  height: 14.2px;
  float: left;
  width: 21.7px;
}
.page-header .header-top-section .language-flags li img,
.page-header-sticky .header-top-section .language-flags li img {
  height: 100%;
  width: 100%;
}
.page-header .header-top-section .language-flags li:last-child,
.page-header-sticky .header-top-section .language-flags li:last-child {
  margin-left: 18.3px;
}
.page-header .header-bottom-section,
.page-header-sticky .header-bottom-section {
  height: 140px;
  display: block;
}
.page-header .header-bottom-section .main,
.page-header-sticky .header-bottom-section .main {
  position: relative;
}
.page-header .header-bottom-section .logo-section a,
.page-header-sticky .header-bottom-section .logo-section a {
  float: left;
  height: 80px;
  margin-top: 2px;
  width: 230px;
  background: url(../../assets/images/logo.png) 0 0 no-repeat;
  background-size: 100%;
}
@media only screen and (min-width: 950px) and (max-width: 1134px) {
  .page-header .header-bottom-section .logo-section a,
  .page-header-sticky .header-bottom-section .logo-section a {
    display: block;
    height: 80px;
    float: none;
    margin: -5px auto 0;
    width: 40%;
    max-width: 210px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .page-header .header-bottom-section .logo-section a,
  .page-header-sticky .header-bottom-section .logo-section a {
    display: block;
    height: 80px;
    float: none;
    margin: -5px auto 0;
    width: 40%;
    max-width: 210px;
  }
}
@media only screen and (max-width: 529px) {
  .page-header .header-bottom-section .logo-section a,
  .page-header-sticky .header-bottom-section .logo-section a {
    display: block;
    height: 80px;
    float: none;
    margin: 10px auto 0;
    width: 40%;
    max-width: 210px;
  }
}
.page-header .header-bottom-section .logo-section a img,
.page-header-sticky .header-bottom-section .logo-section a img {
  width: 100%;
  height: auto;
}
.page-header .header-bottom-section nav,
.page-header-sticky .header-bottom-section nav {
  float: right;
  margin: 5px 0 0 0;
}
.page-header .header-bottom-section nav ul.cd-secondary-nav li a,
.page-header-sticky .header-bottom-section nav ul.cd-secondary-nav li a {
  color: #666666;
  text-shadow: none;
  -webkit-transition: all;
  -moz-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
}
.page-header .header-bottom-section nav ul.cd-secondary-nav li a:hover,
.page-header-sticky .header-bottom-section nav ul.cd-secondary-nav li a:hover {
  color: #00b3d2;
}
.page-header .header-bottom-section nav ul li,
.page-header-sticky .header-bottom-section nav ul li {
  margin-left: 0;
}
.page-header .header-bottom-section nav ul li:first-child,
.page-header-sticky .header-bottom-section nav ul li:first-child {
  margin-left: 0;
}
.page-header .header-bottom-section nav ul li a,
.page-header-sticky .header-bottom-section nav ul li a {
  font-family: 'LatoR', sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: color;
  -moz-transition: color;
  -o-transition: color;
  transition: color;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
}
.page-header .header-search-wrapper,
.page-header-sticky .header-search-wrapper {
  cursor: pointer;
  position: absolute;
  right: -80px;
  top: 55px;
  width: 70px;
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: width;
  -moz-transition: width;
  -o-transition: width;
  transition: width;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  z-index: 10;
}
@media only screen and (min-width: 950px) and (max-width: 1134px) {
  .page-header .header-search-wrapper,
  .page-header-sticky .header-search-wrapper {
    right: 5%;
    top: 78px;
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .page-header .header-search-wrapper,
  .page-header-sticky .header-search-wrapper {
    right: 5%;
    top: 78px;
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 529px) {
  .page-header .header-search-wrapper,
  .page-header-sticky .header-search-wrapper {
    right: 5%;
    top: 78px;
    width: 40px;
    height: 40px;
  }
}
.page-header .header-search-wrapper.active,
.page-header-sticky .header-search-wrapper.active {
  width: 600px;
  z-index: 10;
}
@media only screen and (min-width: 950px) and (max-width: 1134px) {
  .page-header .header-search-wrapper.active,
  .page-header-sticky .header-search-wrapper.active {
    width: 90%;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .page-header .header-search-wrapper.active,
  .page-header-sticky .header-search-wrapper.active {
    width: 90%;
  }
}
@media only screen and (max-width: 529px) {
  .page-header .header-search-wrapper.active,
  .page-header-sticky .header-search-wrapper.active {
    width: 90%;
  }
}
.page-header .header-search-wrapper.active input[type="text"],
.page-header-sticky .header-search-wrapper.active input[type="text"] {
  opacity: 1;
  width: 520px;
}
@media only screen and (min-width: 950px) and (max-width: 1134px) {
  .page-header .header-search-wrapper.active input[type="text"],
  .page-header-sticky .header-search-wrapper.active input[type="text"] {
    opacity: 1;
    width: 83%;
    margin-top: -30px;
    background: 0 0;
    font-size: 14px;
    padding-bottom: 4px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .page-header .header-search-wrapper.active input[type="text"],
  .page-header-sticky .header-search-wrapper.active input[type="text"] {
    opacity: 1;
    width: 83%;
    margin-top: -30px;
    background: 0 0;
    font-size: 14px;
    padding-bottom: 4px;
  }
}
@media only screen and (max-width: 529px) {
  .page-header .header-search-wrapper.active input[type="text"],
  .page-header-sticky .header-search-wrapper.active input[type="text"] {
    opacity: 1;
    width: 83%;
    margin-top: -30px;
    background: 0 0;
    font-size: 14px;
    padding-bottom: 4px;
  }
}
.page-header .header-search-wrapper input[type="text"],
.page-header-sticky .header-search-wrapper input[type="text"] {
  opacity: 0;
  float: right;
  width: 0px;
  margin-right: 31px;
  margin-top: -20px;
  padding-left: 6px;
  font-size: 20px;
  outline: 0;
  padding-bottom: 7px;
  border: 0;
  border-bottom: 0.5px solid #4a4a4a;
  -webkit-transition: width;
  -moz-transition: width;
  -o-transition: width;
  transition: width;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.page-header .header-search-wrapper button,
.page-header-sticky .header-search-wrapper button {
  display: block;
  width: 16px;
  height: 16px;
  position: relative;
  margin: 27px 0 0 27px;
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}
@media only screen and (min-width: 950px) and (max-width: 1134px) {
  .page-header .header-search-wrapper button:after,
  .page-header-sticky .header-search-wrapper button:after {
    width: 14px !important;
    height: 14px !important;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .page-header .header-search-wrapper button:after,
  .page-header-sticky .header-search-wrapper button:after {
    width: 14px !important;
    height: 14px !important;
  }
}
@media only screen and (max-width: 529px) {
  .page-header .header-search-wrapper button:after,
  .page-header-sticky .header-search-wrapper button:after {
    width: 14px !important;
    height: 14px !important;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1134px) {
  .page-header .header-search-wrapper button,
  .page-header-sticky .header-search-wrapper button {
    width: 14px;
    height: 14px;
    margin: 13px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .page-header .header-search-wrapper button,
  .page-header-sticky .header-search-wrapper button {
    width: 14px;
    height: 14px;
    margin: 13px;
  }
}
@media only screen and (max-width: 529px) {
  .page-header .header-search-wrapper button,
  .page-header-sticky .header-search-wrapper button {
    width: 14px;
    height: 14px;
    margin: 13px;
  }
}
.page-header .header-search-wrapper button:after,
.page-header-sticky .header-search-wrapper button:after {
  content: '';
  background: url(../../assets/images/icons/search.png) 0 0 no-repeat;
  -webkit-background-size: 100% 100%;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.nav-is-fixed .cd-main-header.page-header-sticky {
  background: #ffffff;
  height: 91px;
  position: fixed;
}
.page-header-sticky {
  -webkit-transform: translateY(-130px);
  -moz-transform: translateY(-130px);
  -ms-transform: translateY(-130px);
  -o-transform: translateY(-130px);
  transform: translateY(-130px);
}
.page-header-sticky .header-top-section {
  display: none;
}
.page-header-sticky .header-bottom-section .main {
  max-width: 100%;
  width: 100%;
}
.page-header-sticky .header-bottom-section nav ul li a {
  color: #666666;
  text-shadow: none;
}
.page-header-sticky .header-bottom-section nav ul li a:after,
.page-header-sticky .header-bottom-section nav ul li a:before {
  background: #666666;
}
.page-header-sticky .header-bottom-section .logo-section a {
  background: url(../../assets/images/logo-sticky.png) 0 0 no-repeat;
  background-size: 100%;
  height: 80px;
  margin-top: 10px;
}
@media only screen and (min-width: 950px) and (max-width: 1134px) {
  .page-header-sticky .header-bottom-section .logo-section {
    height: 57px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .page-header-sticky .header-bottom-section .logo-section {
    height: 57px;
  }
}
@media only screen and (max-width: 529px) {
  .page-header-sticky .header-bottom-section .logo-section {
    height: 57px;
  }
}
.page-header-sticky .cd-primary-nav {
  padding-right: 116px !important;
}
.page-header-sticky .header-search-wrapper {
  right: 2% !important;
}
.navbar-fixed-top {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
}
.navbar-fixed-top.nav-is-visible {
  -webkit-transform: translate3d(260px, 0, 0);
  -moz-transform: translate3d(260px, 0, 0);
  -ms-transform: translate3d(260px, 0, 0);
  -o-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
}
.nav-on-left .navbar-fixed-top .cd-nav-trigger span {
  background: rgba(0, 0, 0, 0.7);
}
.nav-on-left .navbar-fixed-top .cd-nav-trigger span:after,
.nav-on-left .navbar-fixed-top .cd-nav-trigger span:before {
  background: rgba(0, 0, 0, 0.7);
}
.nav-on-left .navbar-fixed-top .cd-nav-trigger.nav-is-visible span {
  background: rgba(0, 0, 0, 0);
}
.nav-on-left .navbar-fixed-top .cd-nav-trigger.nav-is-visible span:after,
.nav-on-left .navbar-fixed-top .cd-nav-trigger.nav-is-visible span:before {
  background: rgba(0, 0, 0, 0.7);
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .nav-on-left .navbar-fixed-top .cd-header-buttons {
    top: 25px;
  }
}
@media only screen and (max-width: 529px) {
  .nav-on-left .navbar-fixed-top .cd-header-buttons {
    top: 25px;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1134px) {
  .nav-on-left .navbar-fixed-top .cd-header-buttons {
    top: 25px;
  }
}
.nav-on-left .navbar-fixed-top .header-search-wrapper {
  cursor: pointer;
  position: absolute;
  right: -80px;
  top: 55px;
  width: 70px;
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: width;
  -moz-transition: width;
  -o-transition: width;
  transition: width;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
@media only screen and (max-width: 529px) {
  .nav-on-left .navbar-fixed-top .header-search-wrapper {
    right: 5%;
    top: 78px;
    width: 40px;
    height: 40px;
  }
}
.nav-on-left .navbar-fixed-top .header-search-wrapper.active {
  width: 600px;
}
@media only screen and (max-width: 529px) {
  .nav-on-left .navbar-fixed-top .header-search-wrapper.active {
    width: 90%;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .nav-on-left .navbar-fixed-top .header-search-wrapper.active {
    width: 90%;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1134px) {
  .nav-on-left .navbar-fixed-top .header-search-wrapper.active {
    width: 90%;
  }
}
.nav-on-left .navbar-fixed-top .header-search-wrapper.active input[type="text"] {
  opacity: 1;
  width: 520px;
}
@media only screen and (max-width: 529px) {
  .nav-on-left .navbar-fixed-top .header-search-wrapper.active input[type="text"] {
    opacity: 1;
    width: 83%;
    margin-top: -5px;
    background: 0 0;
    font-size: 14px;
    padding-bottom: 4px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .nav-on-left .navbar-fixed-top .header-search-wrapper.active input[type="text"] {
    opacity: 1;
    width: 83%;
    margin-top: -5px;
    background: 0 0;
    font-size: 14px;
    padding-bottom: 4px;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1134px) {
  .nav-on-left .navbar-fixed-top .header-search-wrapper.active input[type="text"] {
    opacity: 1;
    width: 83%;
    margin-top: -5px;
    background: 0 0;
    font-size: 14px;
    padding-bottom: 4px;
  }
}
.nav-on-left .navbar-fixed-top .header-search-wrapper input[type="text"] {
  opacity: 0;
  float: right;
  width: 0px;
  margin-right: 31px;
  margin-top: -20px;
  padding-left: 6px;
  font-size: 20px;
  outline: 0;
  padding-bottom: 7px;
  border: 0;
  border-bottom: 0.5px solid #4a4a4a;
  -webkit-transition: width;
  -moz-transition: width;
  -o-transition: width;
  transition: width;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
@media only screen and (min-width: 950px) and (max-width: 1134px) {
  .nav-on-left .navbar-fixed-top .header-search-wrapper input[type="text"] {
    float: left;
    margin-left: 10%;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .nav-on-left .navbar-fixed-top .header-search-wrapper input[type="text"] {
    float: left;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 529px) {
  .nav-on-left .navbar-fixed-top .header-search-wrapper input[type="text"] {
    float: left;
    margin-left: 10%;
    margin-top: -320px !important;
  }
}
.nav-on-left .navbar-fixed-top .header-search-wrapper button {
  display: block;
  width: 16px;
  height: 16px;
  position: relative;
  margin: 27px 0 0 27px;
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}
.nav-on-left .navbar-fixed-top .header-search-wrapper button:after {
  content: '';
  background: url(../../assets/images/icons/search.png) 0 0 no-repeat;
  -webkit-background-size: 100% 100%;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 529px) {
  .nav-on-left .navbar-fixed-top .header-search-wrapper button {
    margin: 14px 0 0 14px;
  }
}
footer.cd-main-content {
  background: #fff;
  padding-top: 110px;
}
footer.cd-main-content .col-lg-6 {
  padding-left: 96px;
}
@media only screen and (max-width: 529px) {
  footer.cd-main-content .col-lg-6 {
    padding-left: 15px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  footer.cd-main-content .col-lg-6 {
    padding-left: 15px;
  }
}
@media only screen and (max-width: 529px) {
  footer.cd-main-content .col-lg-6 {
    padding-left: 15px;
  }
}
footer.cd-main-content .col-lg-6:last-child {
  padding-left: 187px;
  margin-top: 90px;
}
@media only screen and (max-width: 529px) {
  footer.cd-main-content .col-lg-6:last-child {
    padding-left: 15px;
    margin-top: 30px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  footer.cd-main-content .col-lg-6:last-child {
    padding-left: 15px;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 529px) {
  footer.cd-main-content .col-lg-6:last-child {
    padding-left: 15px;
    margin-top: 30px;
  }
}
footer.cd-main-content .main.logotypes,
footer.cd-main-content .main.main-footer,
footer.cd-main-content .main.copyright {
  float: left;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer.cd-main-content .main.logotypes {
  margin-top: 150px;
}
footer.cd-main-content .main.copyright {
  height: 84px;
  background: #007995;
}
footer.cd-main-content .main h2 {
  color: #002a54;
  font-family: 'RobotoR', Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 40px;
}
@media only screen and (max-width: 529px) {
  footer.cd-main-content .main h2 {
    padding-left: 15px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  footer.cd-main-content .main h2 {
    padding-left: 15px;
  }
}
@media only screen and (max-width: 529px) {
  footer.cd-main-content .main h2 {
    padding-left: 15px;
  }
}
footer.cd-main-content .main .form-group {
  position: relative;
  margin-bottom: 40px;
  min-height: 35px;
}
footer.cd-main-content .main .form-group.focus:after {
  opacity: 1;
  width: 100%;
  background: #00b3d2;
}
footer.cd-main-content .main .form-group:after {
  content: '';
  position: absolute;
  height: 1px;
  background: transparent;
  width: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer.cd-main-content .main label span {
  font-family: 'RobotoR', Arial, Helvetica, sans-serif;
  color: #00b3d2;
  font-size: 18px;
  font-weight: normal;
  position: relative;
  top: 0;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  -moz-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  -ms-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  -o-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}
footer.cd-main-content .main input {
  border: 0;
  border-bottom: solid 1px #c2c2c2;
  font-family: 'RobotoR', Arial, Helvetica, sans-serif;
  padding-left: 0;
  font-size: 16px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  position: absolute;
  top: 0;
}
footer.cd-main-content .main input:focus {
  border-bottom: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
footer.cd-main-content .main input:focus + label > span,
footer.cd-main-content .main input.has-value + label > span {
  top: -20px;
  font-size: 14px;
  color: #33C1D2;
}
footer.cd-main-content .main textarea {
  border: 1px solid #c2c2c2;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 168px;
  resize: none;
  width: 100%;
  -webkit-transition: border 0.7s;
  -moz-transition: border 0.7s;
  -o-transition: border 0.7s;
  transition: border 0.7s;
}
footer.cd-main-content .main textarea:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: 1px solid #00b3d2;
}
footer.cd-main-content .main button {
  border: 0;
  border-radius: 40px;
  background-color: #00b3d2;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  width: 268px;
  font-family: 'RobotoR', Arial, Helvetica, sans-serif;
  font-weight: bold;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
footer.cd-main-content .main button:hover {
  background-color: #00b3d2;
  -webkit-box-shadow: inset 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
}
footer.cd-main-content .main .logotype {
  display: block;
  margin-bottom: 32px;
}
footer.cd-main-content .main .contact-information {
  display: block;
}
footer.cd-main-content .main .contact-information p {
  color: #002a54;
  font-family: 'RobotoR', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
footer.cd-main-content .main .contact-information p.regular-weight {
  font-weight: normal;
  line-height: normal;
  margin-top: 36px;
  margin-bottom: 16px;
}
footer.cd-main-content .main .contact-information span {
  display: block;
  color: #666666;
  font-family: 'LatoR', sans-serif;
  font-size: 18px;
  line-height: 1.67;
}
footer.cd-main-content .logotypes {
  background: url(../../assets/images/footer-brands-bg.png) 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  float: left;
  height: 243px;
  padding: 0 116px;
}
footer.cd-main-content .logotypes a {
  display: inline-block;
  margin-right: 112px;
  margin-top: 73px;
  width: 140px;
}
footer.cd-main-content .logotypes a:last-child {
  margin-right: 0;
  width: 106px;
}
footer.cd-main-content .main-footer {
  padding-top: 90px;
  background-color: #dbdfe3;
}
footer.cd-main-content .main-footer .col-lg-5,
footer.cd-main-content .main-footer .col-lg-7,
footer.cd-main-content .main-footer .col-lg-6 {
  padding: 0;
}
footer.cd-main-content .main-footer .footer-logo {
  display: block;
  margin-bottom: 40px;
  width: 231px;
}
footer.cd-main-content .main-footer .address,
footer.cd-main-content .main-footer .working-time {
  display: block;
  width: 100%;
}
footer.cd-main-content .main-footer .address span,
footer.cd-main-content .main-footer .working-time span,
footer.cd-main-content .main-footer .address a,
footer.cd-main-content .main-footer .working-time a {
  color: #002a54;
  font-family: 'RobotoR', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: 100%;
}
footer.cd-main-content .main-footer .address span.gray,
footer.cd-main-content .main-footer .working-time span.gray,
footer.cd-main-content .main-footer .address a.gray,
footer.cd-main-content .main-footer .working-time a.gray {
  font-size: 14px;
  color: #4a4a4a;
  font-family: 'LatoR', sans-serif;
  opacity: 0.8;
  font-weight: 200;
}
footer.cd-main-content .main-footer .working-time {
  margin-top: 20px;
}
footer.cd-main-content .main-footer .left .social-icons {
  margin: 20px 0 60px 0;
  float: left;
  width: 100%;
}
footer.cd-main-content .main-footer .left .social-icons li {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 18px;
}
footer.cd-main-content .main-footer .left .social-icons a {
  width: 100%;
  height: 100%;
  display: block;
}
footer.cd-main-content .main-footer .left .social-icons a.facebook {
  background: url(../../assets/images/icons/facebook.svg) 0 0 no-repeat;
  background-size: 100%;
}
footer.cd-main-content .main-footer .left .social-icons a.twitter {
  background: url(../../assets/images/icons/twitter.svg) 0 0 no-repeat;
  background-size: 100%;
}
footer.cd-main-content .main-footer .left .social-icons a.instagram {
  background: url(../../assets/images/icons/instagram.svg) 0 0 no-repeat;
  background-size: 100%;
}
footer.cd-main-content .main-footer .right .list,
footer.cd-main-content .main-footer .right .image {
  min-height: 187px;
}
footer.cd-main-content .main-footer .right .image {
  margin-top: 0;
}
footer.cd-main-content .main-footer .right h4 {
  color: #002a54;
  font-family: 'RobotoR', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
footer.cd-main-content .main-footer .right ul a {
  font-size: 14px;
  color: #4a4a4a;
  font-family: 'LatoR', sans-serif;
  opacity: 0.8;
  font-weight: 200;
  line-height: 24px;
}
footer.cd-main-content .copyright ul {
  float: left;
  list-style: none;
}
footer.cd-main-content .copyright ul li {
  display: inline-block;
  line-height: 84px;
  margin-right: 65px;
  text-transform: uppercase;
}
footer.cd-main-content .copyright ul li a {
  font-family: 'LatoR', sans-serif;
  color: #e6e6e6;
  font-size: 12px;
}
footer.cd-main-content .copyright span {
  color: #e6e6e6;
  float: right;
  font-family: 'LatoB', sans-serif;
  font-size: 12px;
  line-height: 84px;
}
footer.cd-main-content .telephone {
  display: block;
  width: 100%;
  margin-top: 40px;
}
footer.cd-main-content .telephone p {
  float: left;
  width: 100%;
}
footer.cd-main-content .telephone p span {
  display: block;
  font-family: 'RobotoR', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  color: #002a54;
  float: left;
  position: relative;
}
footer.cd-main-content .telephone p span:after {
  content: '';
  width: 77px;
  height: 1px;
  background: #4a4a4a;
  position: absolute;
  top: 50%;
  margin-top: -0.5px;
  left: 28px;
}
footer.cd-main-content .telephone p a {
  color: #002a54;
  font-family: 'RobotoR', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 119px;
  width: 130px;
  display: block;
}
